To create a pod in another namespace
--------------------------------------
 - add namespace under metadata section. like this 
 
 apiVersion:
 kind:
 metatdata: 
   name:
   namespace: dev
   
To switch in another namespace permanently - 
-------------------------------------------
$ kubectl config set-context $(kubectl config current-context) --namespace=dev


To limit resources in a namespace creat resourceQuota:
